{{- $current := .RelPermalink -}}
{{- $hits := slice -}}

{{- range .Site.RegularPages -}}
  {{- if and (ne .RelPermalink $current) (in .Content $current) -}}
    {{- $hits = $hits | append . -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $hits) 0 -}}
<hr />
<section>
  <h2>Backlinks</h2>
  <ul>
  {{- range $hits.ByLastmod.Reverse -}}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <small> (updated {{ .Lastmod.Format "2006-01-02" }})</small>
    </li>
  {{- end -}}
  </ul>
</section>
{{- end -}}

